html {
  box-sizing: border-box;
  overflow-x: hidden;
}
/*MAIN GAME MOMENT*/

/*Typography*/

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

/*Positioning*/

.page-wrapper {
  position: relative;
  width: 90%;
  min-height: 100vh;
  margin: auto;
}

#header {
  width:50%;
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
}

.container {
  width: 60%;
  margin: 1.5em auto;
  text-align: center;
}

.game-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3em;

  transition: 0.5s ease-out;
  transition-delay: 750ms;
}

.gameboard {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid blue;
}

.gameboard-square{
  min-height: 130px;
  line-height: 130px;
}


.result-div {
  width: 70%;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}

.bottom-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid blue;
  margin: 1em;
  padding: 0.5em;
  width: 33%;
}

.winner-msg{
  width: 60%;
}

/*Styling*/

.page-wrapper {
  background-color: green;
}

.container {
  background-color: red;
  border: 1px solid yellow;
}

.gameboard-square {
  font-size: 4rem;
  border: 2px solid red;
  background-color: green;
  cursor: pointer;
}



/*Transitions*/

.hidden-right {
  transform: translate(150%);
  transition: 0.5s ease-out;
}



/*Buttons*/

.btn {
  min-width: 100px;
  margin: 5px;
  padding: 0.3em;
  border-radius: 10px;
  color: white;
  background: blue;
  border: none;
  cursor: pointer;
}

.start-btn{
  margin-top:1.5em;
}

/**GAME OPTIONS **/

.options-container h2,
.options-container h3 {
  width: 90%;
  border-bottom: 1px solid grey;
  margin-bottom: 0.25em;
  padding-bottom: 0.15em;
}

.options-container h3{
  width: 40%;
  margin-top: 0.5em;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 0.75em 0;
  text-align: center;
}

.game-form-options{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  width: 60%;
  margin-left: 1em;
  border: none;
  border-radius: 10px;
  height: 20px;
  padding-left: 0.3em;
}

input:focus{
  outline: none;
}

.player-label{
  margin: 0.5em;
  width: 50%;
}

.images {
  display: flex;
  justify-content: center;
}

.mark-img {
  width: 15%;
  margin-top:1em;
  margin-left: 1em;
  padding: 1em;
  border: 1px solid black;
  cursor: pointer;
}


img {
  width: 100%;
  margin-bottom: 0.5em;
}


/*First Div visible and invisible transitions + wrapper to make it appear*/

.game-opponent-options {
  width: 30%;
  margin: 10px auto;
  background-color: red;

  transition: transform 0.5s ease-out;
  transition-delay: 500ms;
  transform: translate(-300%);
}

.visible-left{
  transform: translate(0%);
  transition: transform 0.5s ease-out;
}

.wrapper-hidden{
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

/*Second Div visible and invisible transitions + wrapper to make it appear*/

.game-div-options{
  background-color: red;

  transform: translate(0%, 400%);
  transition: transform 0.5s ease-in;
}


.visible-bottom{
  margin: 0.25em auto;

  transform: translate(0%);
  transition: transform 0.5s ease-out;
}

.hidden{
  width: 30%;
  min-height: 61vh;
  position: absolute;
  overflow: hidden;
  left: 50%;

  transform: translate(-50%, 30%);
}
