@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

:root {
  --white: #FAF0CA;
}

body {
  font-family: 'Roboto', sans-serif;
}
/*MAIN GAME CONTENT*/

/*Typography*/

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

/*Positioning*/

.page-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: auto;
  overflow-x: hidden;
}

#header {
  width:100%;
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
  color: rgba(230,230,230,0.9);
}

.container {
  width: 60%;
  margin: 1.5em auto;
}

.players-div {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  height: 60px;
  width: 70%;
  line-height: 60px;
}

.players-div h2{
  flex-shrink: 0;
}

.matchup-mark{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}

.matchup-img{
  width: 25%;
  min-width: 25px;
  margin: 0 20px;

}

.game-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 0;
  border-radius: 10px;
  min-width: 350px;
  transition: 0.5s ease-out;
  transition-delay: 750ms;
}

.gameboard-outer{
  position: relative;
  width: 40%;
  padding-bottom: 40%;
  margin: auto;
}

.gameboard {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 3px;
  background-color: black !important;
}

.gameboard-square{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.gameboard-img{
  width: 50%;
  margin: 0;
}

.result-div {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  margin: 1em auto;
}

.bottom-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em;
  padding: 0.5em;
  width: 33%;
  border: 2px solid #2A2A72;
  border-radius: 10px;
  flex-shrink: 2;
}

.move-div p:first-child{
  border-bottom: 1px solid black;
  padding-bottom: 0.25em;
}

.move-div p{
  min-width: 90px;
  text-align: center;
}

.winner-msg{
  width: 50%;
  border: none;
  flex-shrink: 1;
  text-align: center;
}

.invisible-result{
  opacity:0;
  font-size: 1.5rem
}

.visible-game-result{
  opacity: 1;
  font-size: 1.5rem;
  transform: rotateX(360deg);
  transition: opacity 1s, font-size 0.5s, transform 1s;

}

/*Styling*/

.page-wrapper {
  position: relative;
}

.page-wrapper:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../images/gladiato.png") repeat center center fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.65;
}

.container {
  background-color: #8B9EB7;
  border: 2px solid #2A2A72;
}

.gameboard-square {
  font-size: 4rem;
  background-color: #8B9EB7EE;
  cursor: pointer;
}



/*Transitions*/

.hidden-right {
  transform: translate(150%);
  transition: 0.5s ease-out;
  visibility: hidden;
}



/*Buttons*/

.btn {
  min-width: 100px;
  margin: 5px;
  padding: 0.3em;
  border-radius: 10px;
  color: white;
  background: #253237;
  border: none;
  cursor: pointer;
  font-family: 'Turret Road', cursive;
}

.btn:hover {
  transform: scale(1.05);
  transition: transform 50ms linear;
}
.start-btn{
  margin-top:1.5em;
  background-color: #588157;
}

/**GAME OPTIONS **/

.options-container h2,
.options-container h3 {
  width: 90%;
  border-bottom: 1px solid black;
  margin-bottom: 0.25em;
  padding-bottom: 0.15em;
}

.options-container h3{
  width: 40%;
  margin-top: 0.5em;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #2A2A72;
  padding: 0.75em 0;
  text-align: center;
  min-width: 280px;
}

.game-form-options{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  width: 60%;
  min-width: 100px;
  max-width: 130px;
  border: none;
  border-radius: 10px;
  height: 20px;
  padding-left: 0.3em;
}

.player-label{
  margin: 0.5em;
  width: 50%;
  flex-shrink: 0;
  text-align: center;
}

.images {
  display: flex;
  justify-content: center;
}

.mark-img {
  width: 15%;
  margin-top: 1em;
  margin-left: 1em;
  padding: 1em;
  border: 1px solid black;
  cursor: pointer;
}

.mark-img:hover {
  border-color: white;
}

.mark-img:first-child {
    margin-left: 0;
}

img {
  width: 100%;
  margin-bottom: 0.5em;
}


/*First Div visible and invisible transitions + wrapper to make it appear*/

.game-opponent-options {
  width: 30%;
  margin: 10px auto;
  background-color: #8B9EB7;

  transition: transform 0.5s ease-out;
  transition-delay: 500ms;
  transform: translate(-300%);
}

.visible-left{
  transform: translate(0%);
  transition: transform 0.5s ease-out;
}

.wrapper-hidden{
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

/*Second Div visible and invisible transitions + wrapper to make it appear*/

.game-div-options{
  background-color: #8B9EB7;
  width: 30%;
  transform: translate(0%, 400%);
  transition: transform 0.5s ease-in;
  margin: 0.25em auto;
}


.visible-bottom{
  margin: 0.25em auto;
  transform: translate(0%);
  transition: transform 0.5s ease-out;
}

.hidden{
  min-height: 40vh;
  position: absolute;
  overflow: hidden;
  left: 50%;
  margin: 2em auto;

  transform: translate(-50%, 30%);
}


/* Media Queries */

@media screen and (max-width: 1050px){
  :root{
    font-size: 12px;
  }

  h2 {
    font-size: 1.5rem;
  }


  .players-div {
      margin: 0.25em auto;
  }
}

@media screen and (max-width: 820px){
  .bottom-container{
    margin: 0.5em;
  }

  .gameboard{
    margin: 0 auto;
  }

  .invisible-result {
    position: absolute;
    bottom: -70%;
    border: 2px solid #2A2A72;
    background-color: #8B9EB7;
    width: 80%;
  }
}

@media screen and (max-width: 700px){
  .matchup-img{
    display: none;
  }

  .page-wrapper {
    min-height: 110vh;
  }
}
